[submodule "eng/docs/sources/VSDCRequestSubmitterV3.0"]
	path = eng/docs/sources/VSDCRequestSubmitterV3.0
	url = https://github.com/Data-Tech-International/VSDCRequestSubmitterV3.0.git
[submodule "eng/docs/sources/Dti.TaxCore.Examples.SESignInvoiceV3.0"]
	path = eng/docs/sources/Dti.TaxCore.Examples.SESignInvoiceV3.0
	url = https://github.com/Data-Tech-International/Dti.TaxCore.Examples.SESignInvoiceV3.0.git
[submodule "eng/docs/sources/Dti.TaxCore.Examples.SESignInvoice"]
	path = eng/docs/sources/Dti.TaxCore.Examples.SESignInvoice
	url = https://github.com/Data-Tech-International/Dti.TaxCore.Examples.SESignInvoice.git
[submodule "eng/docs/sources/Secure-Element-Reader"]
	path = eng/docs/sources/Secure-Element-Reader
	url = https://github.com/Data-Tech-International/Secure-Element-Reader.git
[submodule "eng/docs/sources/TaxCore.Libraries.Certificates"]
	path = eng/docs/sources/TaxCore.Libraries.Certificates
	url = https://github.com/Data-Tech-International/TaxCore.Libraries.Certificates.git
[submodule "eng/docs/sources/Taxcore-MobilePOS-Android"]
	path = eng/docs/sources/Taxcore-MobilePOS-Android
	url = https://github.com/Data-Tech-International/Taxcore-MobilePOS-Android.git
[submodule "eng/docs/sources/agent_skills"]
	path = eng/docs/sources/agent_skills
	url = git@github.com:naucnikumetnik/agent_skills.git
[submodule "eng/docs/skills/agent_skills"]
	path = eng/docs/skills/agent_skills
	url = git@github.com:naucnikumetnik/agent_skills.git
